.login-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-background); }
  .login-wrap .login-form {
    width: 45vw;
    height: auto;
    background: rgba(255, 255, 255, 0.6);
    padding: 2vh 2vw;
    border-radius: 10px; }
    .login-wrap .login-form .title {
      width: 100%;
      height: 4vh;
      line-height: 4vh;
      text-align: center;
      margin-bottom: 2vh;
      font-size: 2vw;
      font-weight: 700; }
    .login-wrap .login-form .form-content {
      width: 100%;
      height: calc(100% - 6vh);
      display: flex;
      flex-direction: column;
      gap: 2vh;
      margin-top: 2vh; }
      .login-wrap .login-form .form-content .box {
        width: 100%;
        height: 6vh;
        position: relative; }
        .login-wrap .login-form .form-content .box label {
          position: absolute;
          bottom: 0.5vh;
          left: 2vw;
          transition: 0.5s; }
        .login-wrap .login-form .form-content .box input {
          position: absolute;
          bottom: 0;
          width: 0;
          height: 4vh;
          border: 2px solid #000;
          text-indent: 2vw;
          transition: 0.5s; }
          .login-wrap .login-form .form-content .box input:focus, .login-wrap .login-form .form-content .box input:valid {
            width: 100%; }
            .login-wrap .login-form .form-content .box input:focus ~ label, .login-wrap .login-form .form-content .box input:valid ~ label {
              bottom: 4vh;
              left: 1vw; }
      .login-wrap .login-form .form-content button {
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        background: #00114b;
        color: #fff;
        padding: 1vh 1vw;
        border-radius: 10px; }
