.sanpham {
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background: var(--main-background); }
  .sanpham .top-bar {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5vh 1vw; }
    .sanpham .top-bar .search-box {
      width: 100%;
      height: auto; }
      .sanpham .top-bar .search-box input {
        width: 30%;
        height: 4vh;
        text-indent: 3%;
        border-radius: 10px;
        border: 2px solid #000;
        transition: 0.5s;
        outline: none; }
        .sanpham .top-bar .search-box input:focus, .sanpham .top-bar .search-box input:valid {
          width: 70%; }
  .sanpham .list-product {
    display: flex;
    flex-direction: row; }
    .sanpham .list-product .product-box {
      width: 10vw;
      height: auto;
      background: #f3f1f1;
      padding: 1vh 1vw;
      border-radius: 10px;
      transition: 0.5s; }
      .sanpham .list-product .product-box:hover {
        transform: scale(1.1); }
        .sanpham .list-product .product-box:hover .overlay {
          opacity: 1;
          display: block; }
      .sanpham .list-product .product-box .overlay {
        position: absolute;
        width: 2vh;
        height: 2vh;
        display: none;
        opacity: 0;
        transition: 3s; }
        .sanpham .list-product .product-box .overlay input {
          width: 100%;
          height: 100%; }
      .sanpham .list-product .product-box .product-img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1; }
      .sanpham .list-product .product-box .product-detail {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1vh; }
        .sanpham .list-product .product-box .product-detail .identify {
          width: 100%;
          height: auto;
          text-align: center; }
          .sanpham .list-product .product-box .product-detail .identify p:nth-child(1) {
            font-size: 0.8vw; }
          .sanpham .list-product .product-box .product-detail .identify p:nth-child(2) {
            font-size: 0.55vw; }
        .sanpham .list-product .product-box .product-detail .stock {
          font-size: 0.8vw; }
        .sanpham .list-product .product-box .product-detail .cost {
          font-size: 0.8vw; }
